<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/signup.css">
    <title>Document</title>
</head>
<body>
    <!-- Navigation -->
    <div class="nav-wrapper">
        <div class="nav-links">
            <a href="index.html">Home</a>
            <a href="submission.html">Submission</a>
            <a href="conversations.html">Conversations</a>
        </div>
        <div class="login-box">
            <a href="signup.html">Sign Up</a>
            <a href="login.html">Log In</a>
        </div>
    </div>
<!-- Signup  -->
<div class="signup-page">
    <div class="signup-box">
        <div class="banner">
            Banner
        </div>
        <div class="signup-fields">
        <input type="text" class="username" placeholder="Enter New Username.."><br>
        <input type="text" class="password" placeholder="Enter New Password..">
        </div>
        <input type="submit" class="submit-btn" placeholder="Submit">
    </div>
    </div>
</body>
</html>