<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submission</title>
</head>
<body>
        <div class="forms">
                <form>
                    <input type="number" text='number' placeholder="Enter Number for submission">
                    <input type='message' text='message' placeholder="Enter Message to send">
                    <input type='submit' text='submit'>
                </form>
            </div>
</body>
</html>